@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .black-to-red {
    filter: invert(61%) sepia(31%) saturate(2174%) hue-rotate(316deg)
      brightness(99%) contrast(95%);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-work text-dark-500 bg-background;
}

main {
  @apply flex flex-col px-2;
}

/* Headings */
h1 {
  @apply font-aboreto font-bold md:text-[4rem] md:leading-[4.375rem] mb-2 -ml-1 text-[2.625rem] leading-[2.625rem];
}

h2 {
  @apply font-aboreto font-bold md:text-[3rem] md:leading-[3.375rem] text-[2rem] leading-[2.5rem];
}

h3 {
  @apply font-aboreto font-bold md:text-[2rem] md:leading-[2.5rem] text-[1.625rem] leading-[2rem];
}

h4 {
  @apply font-aboreto font-normal md:text-[1.875rem] md:leading-[2.6875rem] text-[1.375rem] leading-[1.875rem];
}

h5 {
  @apply font-aboreto font-bold md:text-[1.375rem] md:leading-[1.875rem] text-[1.125rem] leading-[1.5rem];
}

h6 {
  @apply font-aboreto font-bold text-inherit;
}

/* Label */
label {
  @apply md:text-[1rem] leading-[1.5rem] font-work text-[0.8125rem] pb-1;
}

/* Paragraph */
p {
  @apply text-[1.1rem] font-work leading-[1.5rem] m-0;
}

/* Lists */
ul,
ol {
  @apply font-work m-0 p-0 list-none;
}

li {
  @apply font-work text-dark-500;
}

/* Links */
a {
  @apply font-work text-dark-500 no-underline focus:opacity-80 focus:outline-none active:opacity-70 active:outline-none;
}

/* Icons */
svg {
  @apply align-middle;
}

input:-webkit-autofill {
  background-color: rgb(220, 220, 220);
  -webkit-box-shadow: 0 0 0px 1000px rgb(220, 220, 220) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* SweetAlert2 custom styles */
.swal2-confirm,
.swal2-deny {
  background-color: #000 !important;
  box-shadow: none !important;
  border-radius: 0.5rem !important;
  min-width: 5rem !important;

  &:hover {
    background-color: #000000cc !important;
  }
}

.swal2-popup {
  border-radius: 2rem 0 2rem 0 !important;
}

/* React Datepicker custom styles */
.react-datepicker__header {
  @apply !bg-[#1e1e1e];
}

.react-datepicker__day-name {
  @apply !text-white;
}

.react-datepicker__day--selected {
  @apply !bg-black;
}

.react-datepicker__portal {
  @apply !bg-[#FFFAF3DD];
}

.rose-gold {
  @apply bg-gradient-to-br from-light-rose via-rose-50 to-dark-rose;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 192, 203, 0.3);
}

.yellow-gold {
  @apply bg-gradient-to-br from-yellow-100 via-yellow-50 to-yellow-200;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 215, 0, 0.3);
}

.white-gold {
  @apply bg-gradient-to-br from-gray-200 via-gray-50 to-gray-300;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.3);
}

.rose-gold-card {
  @apply bg-gradient-to-br from-light-rose via-rose-50 to-light-rose;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 192, 203, 0.3);
}

.yellow-gold-card {
  @apply bg-gradient-to-br from-yellow-100 via-yellow-50 to-yellow-100;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 215, 0, 0.3);
}

.white-gold-card {
  @apply bg-gradient-to-br from-gray-200 via-gray-50 to-gray-200;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.3);
}
